<link rel="stylesheet" href="~/Content/ProductDetails.css" />
@{
    ViewBag.Title = "Product Detail";
}


@{

    var modelVariable = Model;
}
<div class="mt80 clearfix">
    @Html.Partial("~/Views/Shared/Breadcrumbs.cshtml", new ViewDataDictionary { { "breadcrumbData", modelVariable } })

</div>

<div class="container-fluid no-padding mt80">
    <div class="container no-padding">

        <div class="col-md-2 col-sm-12 no-padding ">
            <ul class="no-padding list-image-icons">
                <li class="active">
                    <img style="width:130px;" src="~/Content/Images/broccoli@2x.png" />
                </li>

                <li>
                    <img style="width:130px;" src="~/Content/Images/broccoli@2x.png" />
                </li>

                <li>
                    <img style="width:130px;" src="~/Content/Images/broccoli@2x.png" />
                </li>

                <li>
                    <img style="width:130px;" src="~/Content/Images/black-jacket-matter.jpg" />
                </li>

            </ul>
        </div>

        <div class="col-md-5 col-sm-12 no-padding image-product-sect">
            <img src="~/Content/Images/broccoli@2x.png" class="img-responsive main-product-img" alt="Image Product" />
        </div>

        <div class="col-md-4 col-md-offset-1 col-sm-12">

            <div class="col-sm-12 col-md-12 no-padding">
                <h2 class="product-title">Leather Jacket</h2>
            </div>

            <div class="col-sm-12 col-md-12 no-padding mt20">
                <h4 class="product-price">$ 8.99</h4>
            </div>

            <div class="col-sm-12 col-md-12 no-padding mt20">
                <span class="pull-left product-quantity-label" style="margin-right:20px;  margin-top: 15px;">Quantity</span>
                <select class="product-quantity-select ">
                    <option value="null">Please select quantiy</option>
                    <option selected value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>

            <div class="col-md-12 col-sm-12 no-padding mt25">
                <button onclick="addToCart()" class="add-to-cart-btn">
                    <span><img src="~/Content/Images/icon-add-cart.svg" /></span>
                    <span>Add To Cart</span>
                </button>
            </div>

            <div class="col-md-12 col-sm-12 no-padding mt25">
                <span class="pull-left product-quantity-label" style="margin-right:20px;">Sizes</span>
                <span class="exclaiming-icon pointer" title="Click Here">i</span>
            </div>

            <div class="col-md-12 col-sm-12 no-padding mt20">
                <span class="size-styling active">S</span>
                <span class="size-styling ">M</span>
                <span class="size-styling ">L</span>
                <span class="size-styling ">XL</span>
            </div>

            <div class="col-md-12 col-sm-12 no-padding mt25 clearfix">
                <span class="pull-left product-quantity-label" style="">Colors</span>

            </div>

            <div class="col-md-12 col-sm-12 no-padding mt20 clearfix">
                <span class="color-styling active">Black</span>
                <span class="color-styling ">Brown</span>

            </div>

            <div class="col-md-12 col-sm-12 no-padding mt25 clearfix">
                <span class="pull-left product-quantity-label" style="">Whole Sale Price</span>
            </div>

            <div class="col-md-12 col-sm-12 no-padding mt10 whole-sale-price clearfix">
                <span>$ 12.99 / 50 piece</span>
            </div>

        </div>
    </div>

    <div class="container no-padding mt80 mobile-padder">
        <div class="col-sm-12 col-md-12 no-padding">
            <h4 class="instruction-heading">Instruction</h4>
        </div>

        <div class="col-sm-12 col-md-12 no-padding mt25">
            <ul class="product-feature-content no-padding" style=" padding-left: 15px; ">
                <li class="col-md-6 col-sm-12">
                    Full Grain Naked Cowhide
                </li>

                <li class="col-md-6 col-sm-12">
                    Concealed Heavy-Duty Zipper with Snap Closure
                </li>

                <li class="col-md-6 col-sm-12">
                    Concealed Heavy-Duty Zipper with Snap Closure
                </li>

                <li class="col-md-6 col-sm-12">
                    Full Grain Naked Cowhide
                </li>

                <li class="col-md-6 col-sm-12">
                    Concealed Heavy-Duty Zipper with Snap Closure
                </li>

                <li class="col-md-6 col-sm-12">
                    Concealed Heavy-Duty Zipper with Snap Closure
                </li>

                <li class="col-md-6 col-sm-12">
                    Two Inside Pockets
                </li>
            </ul>
        </div>

        <div class="col-sm-12 col-md-12 no-padding product-feature-content">
            <p> 5 YEAR WARRANTY - This American Made leather jacket is backed by  5 year warranty. Hot Leathers is proud to stand behind the quality and craftsmanship of this fine garment. All stitching and hardware is guaranteed against fault or defect for a period of 5 years from date of purchase. </p>
            <p>
                Discounts, coupons, and promos DO NOT, and will never, apply to Hot Leathers American Made leather products.
                We pride ourselves on being able to provide the highest quality, and comfort at the lowest possible price. Rest assured, the price you pay for your new American Made leather product is the lowest we will offer.
            </p>
        </div>
    </div>

    <div class="col-md-12 col-sm-12 no-padding">
        <div class="container no-padding text-center mt60">
            <h2 class="main-page-heading text-center">Fitting Guide</h2>
        </div>
    </div>

    <div class="col-md-12 col-sm-12 no-padding text-center">
        <img style="max-width:974px;width:100%" src="~/Content/Images/fitting_guide@2x.png" alt="Fitting Guide" />
    </div>

    <div class="col-md-12 col-sm-12 no-padding mt100">
        <div class="container no-padding text-center">
            <h2 class="main-page-heading text-center">Similar Products</h2>
        </div>
    </div>

    <div class="col-md-12 col-sm-12 no-padding mt80">

        <div class="container no-padding">



            <div class="col-md-3 col-sm-12  each-collection">
                <a target="_blank" href="#" class="collection-block">
                    <img class="img-responsive"
                         src="/Content/Images/New-Style-MEN-S-Leather-Coat-Member-Designed-To-Shoot-Winter-Man-Tops-Clothing-Male-PU@2x.png"
                         onmouseover="this.src='/Content/Images/lea-ochel-nsRBbE6-YLs-unsplash (1)-1@2x.png'"
                         onmouseout="this.src='/Content/Images/New-Style-MEN-S-Leather-Coat-Member-Designed-To-Shoot-Winter-Man-Tops-Clothing-Male-PU@2x.png'"
                         border="0" alt="" />
                </a>

                <div class="col-md-12">
                    <p class="collection-item-title">Leather Jacket</p>
                </div>

                <div class="col-md-12">
                    <p class="collection-item-price">$ 99.99</p>
                </div>

                <div class="col-md-12 no-padding">
                    <button class="collection-item-cart"><span><img style="vertical-align:sub;" src="~/Content/Images/Group 2014.png" /></span>Add To Cart</button>
                </div>
            </div>

            <div class="col-md-3 col-sm-12  each-collection">
                <a target="_blank" href="#" class="collection-block">
                    <img class="img-responsive"
                         src="/Content/Images/New-Style-MEN-S-Leather-Coat-Member-Designed-To-Shoot-Winter-Man-Tops-Clothing-Male-PU@2x.png"
                         onmouseover="this.src='/Content/Images/lea-ochel-nsRBbE6-YLs-unsplash (1)-1@2x.png'"
                         onmouseout="this.src='/Content/Images/New-Style-MEN-S-Leather-Coat-Member-Designed-To-Shoot-Winter-Man-Tops-Clothing-Male-PU@2x.png'"
                         border="0" alt="" />
                </a>

                <div class="col-md-12">
                    <p class="collection-item-title">Leather Jacket</p>
                </div>

                <div class="col-md-12">
                    <p class="collection-item-price">$ 99.99</p>
                </div>

                <div class="col-md-12 no-padding">
                    <button class="collection-item-cart"><span><img style="vertical-align:sub;" src="~/Content/Images/Group 2014.png" /></span>Add To Cart</button>
                </div>
            </div>

            <div class="col-md-3 col-sm-12  each-collection">
                <a target="_blank" href="#" class="collection-block">
                    <img class="img-responsive"
                         src="/Content/Images/New-Style-MEN-S-Leather-Coat-Member-Designed-To-Shoot-Winter-Man-Tops-Clothing-Male-PU@2x.png"
                         onmouseover="this.src='/Content/Images/lea-ochel-nsRBbE6-YLs-unsplash (1)-1@2x.png'"
                         onmouseout="this.src='/Content/Images/New-Style-MEN-S-Leather-Coat-Member-Designed-To-Shoot-Winter-Man-Tops-Clothing-Male-PU@2x.png'"
                         border="0" alt="" />
                </a>

                <div class="col-md-12">
                    <p class="collection-item-title">Leather Jacket</p>
                </div>

                <div class="col-md-12">
                    <p class="collection-item-price">$ 99.99</p>
                </div>

                <div class="col-md-12 no-padding">
                    <button class="collection-item-cart"><span><img style="vertical-align:sub;" src="~/Content/Images/Group 2014.png" /></span>Add To Cart</button>
                </div>
            </div>

            <div class="col-md-3 col-sm-12  each-collection">
                <a target="_blank" href="#" class="collection-block">
                    <img class="img-responsive"
                         src="/Content/Images/New-Style-MEN-S-Leather-Coat-Member-Designed-To-Shoot-Winter-Man-Tops-Clothing-Male-PU@2x.png"
                         onmouseover="this.src='/Content/Images/lea-ochel-nsRBbE6-YLs-unsplash (1)-1@2x.png'"
                         onmouseout="this.src='/Content/Images/New-Style-MEN-S-Leather-Coat-Member-Designed-To-Shoot-Winter-Man-Tops-Clothing-Male-PU@2x.png'"
                         border="0" alt="" />
                </a>

                <div class="col-md-12">
                    <p class="collection-item-title">Leather Jacket</p>
                </div>

                <div class="col-md-12">
                    <p class="collection-item-price">$ 99.99</p>
                </div>

                <div class="col-md-12 no-padding">
                    <button class="collection-item-cart"><span><img style="vertical-align:sub;" src="~/Content/Images/Group 2014.png" /></span>Add To Cart</button>
                </div>
            </div>

        </div>
    </div>
    <div class="col-sm-12 col-md-12 mt80"></div>
</div>


<script>
    function addToCart() {
        location.href = "/Cart";

    }
</script>