<link rel="stylesheet" href="~/Content/ProductListing.css">
@{
    ViewBag.Title = "Product Listing";
}


@{
    string headingTextVariable = "Men Collection";
    string backgroundImageURL = "/Content/Images/men_banner2@2x.png";
    var modelVariable = Model;
}

@Html.Partial("~/Views/Shared/Jumbotron.cshtml", new ViewDataDictionary { { "headingText", headingTextVariable }, { "backgroundImage", backgroundImageURL } })

<div class="container-fluid no-padding">
    <div class="container no-padding mt40">
        <div class="col-md-1 col-sm-12 mt20">
            <label class="filter-label-text">Filters</label>
        </div>


        <div class="col-md-11 col-sm-12">

            <div class="pull-left mt20">
                <select class="product-list-filter" style="width:172px;">
                    <option value="null">Product Type</option>
                    <option value="1">Product Type 1</option>
                    <option value="2">Product Type 2</option>
                    <option value="3">Product Type 3</option>
                    <option value="4">Product Type 4</option>
                </select>
            </div>

            <div class="pull-left mt20">
                <select class="product-list-filter" style="width:120px;">
                    <option value="null">Size</option>
                    <option value="1">Small</option>
                    <option value="2">Medium</option>
                    <option value="3">Large</option>
                    <option value="4">Extra Large</option>
                </select>
            </div>

            <div class="pull-left mt20">
                <select class="product-list-filter" style="width:120px;">
                    <option value="null">Price</option>
                    <option value="1">$100-$499</option>
                    <option value="1">$500-$999</option>
                    <option value="1">$1000-$1499</option>
                    <option value="1">$1500-$1999</option>
                </select>
            </div>

            <div class="pull-left mt20">
                <select class="product-list-filter" style="width:120px;">
                    <option value="null">Color</option>
                    <option value="1">Black</option>
                    <option value="2">Brown</option>
                    <option value="3">Red</option>
                    <option value="4">Pink</option>
                </select>
            </div>




        </div>
    </div>

    <div class="container no-padding mt90">
        <div class="col-sm-12 col-md-3 each-product-detail">
            <a target="_blank" href="/Product/Details/Men" class="collection-block">
                <img class="img-responsive"
                     src="/Content/Images/New-Style-MEN-S-Leather-Coat-Member-Designed-To-Shoot-Winter-Man-Tops-Clothing-Male-PU@2x.png"
                     onmouseover="this.src='/Content/Images/lea-ochel-nsRBbE6-YLs-unsplash (1)-1@2x.png'"
                     onmouseout="this.src='/Content/Images/New-Style-MEN-S-Leather-Coat-Member-Designed-To-Shoot-Winter-Man-Tops-Clothing-Male-PU@2x.png'"
                     border="0" alt="" />
            </a>

            <div class="col-md-12">
                <p class="collection-item-title">Leather Jacket</p>
            </div>

            <div class="col-md-12">
                <p class="collection-item-price">$ 99.99</p>
            </div>

            <div class="col-md-12 no-padding mt10">
                <button class="collection-item-cart"><span><img style="vertical-align:sub;" src="~/Content/Images/Group 2014.png" /></span>Add To Cart</button>
            </div>
        </div>


        <div class="col-sm-12 col-md-3 each-product-detail">
            <a target="_blank" href="/Product/Details/Men" class="collection-block">
                <img class="img-responsive"
                     src="/Content/Images/New-Style-MEN-S-Leather-Coat-Member-Designed-To-Shoot-Winter-Man-Tops-Clothing-Male-PU@2x.png"
                     onmouseover="this.src='/Content/Images/lea-ochel-nsRBbE6-YLs-unsplash (1)-1@2x.png'"
                     onmouseout="this.src='/Content/Images/New-Style-MEN-S-Leather-Coat-Member-Designed-To-Shoot-Winter-Man-Tops-Clothing-Male-PU@2x.png'"
                     border="0" alt="" />
            </a>

            <div class="col-md-12">
                <p class="collection-item-title">Leather Jacket</p>
            </div>

            <div class="col-md-12">
                <p class="collection-item-price">$ 99.99</p>
            </div>

            <div class="col-md-12 no-padding mt10">
                <button class="collection-item-cart"><span><img style="vertical-align:sub;" src="~/Content/Images/Group 2014.png" /></span>Add To Cart</button>
            </div>
        </div>


        <div class="col-sm-12 col-md-3 each-product-detail">
            <a target="_blank" href="#" class="collection-block">
                <img class="img-responsive"
                     src="/Content/Images/New-Style-MEN-S-Leather-Coat-Member-Designed-To-Shoot-Winter-Man-Tops-Clothing-Male-PU@2x.png"
                     onmouseover="this.src='/Content/Images/lea-ochel-nsRBbE6-YLs-unsplash (1)-1@2x.png'"
                     onmouseout="this.src='/Content/Images/New-Style-MEN-S-Leather-Coat-Member-Designed-To-Shoot-Winter-Man-Tops-Clothing-Male-PU@2x.png'"
                     border="0" alt="" />
            </a>

            <div class="col-md-12">
                <p class="collection-item-title">Leather Jacket</p>
            </div>

            <div class="col-md-12">
                <p class="collection-item-price">$ 99.99</p>
            </div>

            <div class="col-md-12 no-padding mt10">
                <button class="collection-item-cart"><span><img style="vertical-align:sub;" src="~/Content/Images/Group 2014.png" /></span>Add To Cart</button>
            </div>
        </div>


        <div class="col-sm-12 col-md-3 each-product-detail">
            <a target="_blank" href="#" class="collection-block">
                <img class="img-responsive"
                     src="/Content/Images/New-Style-MEN-S-Leather-Coat-Member-Designed-To-Shoot-Winter-Man-Tops-Clothing-Male-PU@2x.png"
                     onmouseover="this.src='/Content/Images/lea-ochel-nsRBbE6-YLs-unsplash (1)-1@2x.png'"
                     onmouseout="this.src='/Content/Images/New-Style-MEN-S-Leather-Coat-Member-Designed-To-Shoot-Winter-Man-Tops-Clothing-Male-PU@2x.png'"
                     border="0" alt="" />
            </a>

            <div class="col-md-12">
                <p class="collection-item-title">Leather Jacket</p>
            </div>

            <div class="col-md-12">
                <p class="collection-item-price">$ 99.99</p>
            </div>

            <div class="col-md-12 no-padding mt10">
                <button class="collection-item-cart"><span><img style="vertical-align:sub;" src="~/Content/Images/Group 2014.png" /></span>Add To Cart</button>
            </div>
        </div>


        <div class="col-sm-12 col-md-3 each-product-detail">
            <a target="_blank" href="#" class="collection-block">
                <img class="img-responsive"
                     src="/Content/Images/New-Style-MEN-S-Leather-Coat-Member-Designed-To-Shoot-Winter-Man-Tops-Clothing-Male-PU@2x.png"
                     onmouseover="this.src='/Content/Images/lea-ochel-nsRBbE6-YLs-unsplash (1)-1@2x.png'"
                     onmouseout="this.src='/Content/Images/New-Style-MEN-S-Leather-Coat-Member-Designed-To-Shoot-Winter-Man-Tops-Clothing-Male-PU@2x.png'"
                     border="0" alt="" />
            </a>

            <div class="col-md-12">
                <p class="collection-item-title">Leather Jacket</p>
            </div>

            <div class="col-md-12">
                <p class="collection-item-price">$ 99.99</p>
            </div>

            <div class="col-md-12 no-padding mt10">
                <button class="collection-item-cart"><span><img style="vertical-align:sub;" src="~/Content/Images/Group 2014.png" /></span>Add To Cart</button>
            </div>
        </div>


        <div class="col-sm-12 col-md-3 each-product-detail">
            <a target="_blank" href="#" class="collection-block">
                <img class="img-responsive"
                     src="/Content/Images/New-Style-MEN-S-Leather-Coat-Member-Designed-To-Shoot-Winter-Man-Tops-Clothing-Male-PU@2x.png"
                     onmouseover="this.src='/Content/Images/lea-ochel-nsRBbE6-YLs-unsplash (1)-1@2x.png'"
                     onmouseout="this.src='/Content/Images/New-Style-MEN-S-Leather-Coat-Member-Designed-To-Shoot-Winter-Man-Tops-Clothing-Male-PU@2x.png'"
                     border="0" alt="" />
            </a>

            <div class="col-md-12">
                <p class="collection-item-title">Leather Jacket</p>
            </div>

            <div class="col-md-12">
                <p class="collection-item-price">$ 99.99</p>
            </div>

            <div class="col-md-12 no-padding mt10">
                <button class="collection-item-cart"><span><img style="vertical-align:sub;" src="~/Content/Images/Group 2014.png" /></span>Add To Cart</button>
            </div>
        </div>


        <div class="col-sm-12 col-md-3 each-product-detail">
            <a target="_blank" href="#" class="collection-block">
                <img class="img-responsive"
                     src="/Content/Images/New-Style-MEN-S-Leather-Coat-Member-Designed-To-Shoot-Winter-Man-Tops-Clothing-Male-PU@2x.png"
                     onmouseover="this.src='/Content/Images/lea-ochel-nsRBbE6-YLs-unsplash (1)-1@2x.png'"
                     onmouseout="this.src='/Content/Images/New-Style-MEN-S-Leather-Coat-Member-Designed-To-Shoot-Winter-Man-Tops-Clothing-Male-PU@2x.png'"
                     border="0" alt="" />
            </a>

            <div class="col-md-12">
                <p class="collection-item-title">Leather Jacket</p>
            </div>

            <div class="col-md-12">
                <p class="collection-item-price">$ 99.99</p>
            </div>

            <div class="col-md-12 no-padding mt10">
                <button class="collection-item-cart"><span><img style="vertical-align:sub;" src="~/Content/Images/Group 2014.png" /></span>Add To Cart</button>
            </div>
        </div>


        <div class="col-sm-12 col-md-3 each-product-detail">
            <a target="_blank" href="#" class="collection-block">
                <img class="img-responsive"
                     src="/Content/Images/New-Style-MEN-S-Leather-Coat-Member-Designed-To-Shoot-Winter-Man-Tops-Clothing-Male-PU@2x.png"
                     onmouseover="this.src='/Content/Images/lea-ochel-nsRBbE6-YLs-unsplash (1)-1@2x.png'"
                     onmouseout="this.src='/Content/Images/New-Style-MEN-S-Leather-Coat-Member-Designed-To-Shoot-Winter-Man-Tops-Clothing-Male-PU@2x.png'"
                     border="0" alt="" />
            </a>

            <div class="col-md-12">
                <p class="collection-item-title">Leather Jacket</p>
            </div>

            <div class="col-md-12">
                <p class="collection-item-price">$ 99.99</p>
            </div>

            <div class="col-md-12 no-padding mt10">
                <button class="collection-item-cart"><span><img style="vertical-align:sub;" src="~/Content/Images/Group 2014.png" /></span>Add To Cart</button>
            </div>
        </div>


        <div class="col-sm-12 col-md-3 each-product-detail">
            <a target="_blank" href="#" class="collection-block">
                <img class="img-responsive"
                     src="/Content/Images/New-Style-MEN-S-Leather-Coat-Member-Designed-To-Shoot-Winter-Man-Tops-Clothing-Male-PU@2x.png"
                     onmouseover="this.src='/Content/Images/lea-ochel-nsRBbE6-YLs-unsplash (1)-1@2x.png'"
                     onmouseout="this.src='/Content/Images/New-Style-MEN-S-Leather-Coat-Member-Designed-To-Shoot-Winter-Man-Tops-Clothing-Male-PU@2x.png'"
                     border="0" alt="" />
            </a>

            <div class="col-md-12">
                <p class="collection-item-title">Leather Jacket</p>
            </div>

            <div class="col-md-12">
                <p class="collection-item-price">$ 99.99</p>
            </div>

            <div class="col-md-12 no-padding mt10">
                <button class="collection-item-cart"><span><img style="vertical-align:sub;" src="~/Content/Images/Group 2014.png" /></span>Add To Cart</button>
            </div>
        </div>


    </div>

</div>