<link rel="stylesheet" href="~/Content/HomepageComment.css" />

<div class="clearfix comment-section mb130">
    <div class="container no-padding mt20 text-center">
        <h3 class="main-page-heading">Comments</h3>
    </div>

    <div class="container no-padding mt20" id="comment-section-content">
        <div comment-id="1" class="each-comment-section active">
            <h4 class="comment-content text-center"><span>&quot;</span>Susbcribe to our mailing list to get the new updates.<span>&quot;</span></h4>
            <p class="comment-person text-center">John Doe</p>
        </div>

        <div comment-id="2" class="each-comment-section ">
            <h4 class="comment-content text-center"><span>&quot;</span>Susbcribe to our mailing list to get the new updates.<span>&quot;</span></h4>
            <p class="comment-person text-center">John Doe</p>
        </div>

        <div comment-id="3" class="each-comment-section ">
            <h4 class="comment-content text-center"><span>&quot;</span>Susbcribe to our mailing list to get the new updates.<span>&quot;</span></h4>
            <p class="comment-person text-center">John Doe</p>
        </div>

        <div comment-id="4" class="each-comment-section">
            <h4 class="comment-content text-center"><span>&quot;</span>Susbcribe to our mailing list to get the new updates.<span>&quot;</span></h4>
            <p class="comment-person text-center">John Doe</p>
        </div>
    </div>

    <div id="tab-lister" class="container no-padding mt20">
        <ul>


            <li data-comment="1" class="tab-pill active">
                <span></span>
            </li>

            <li data-comment="2" class="tab-pill">
                <span></span>
            </li>

            <li data-comment="3" class="tab-pill">
                <span></span>
            </li>

            <li data-comment="4" class="tab-pill">
                <span></span>
            </li>


        </ul>
    </div>

</div>