<div class="container-fluid no-padding">
    <div class="clearfix featured-category-section">
        <div class="container no-padding  text-center">
            <h3 class="main-page-heading yellow-color">Categories</h3>
        </div>
        <div class="container no-padding mt80">
            <div class="col-md-6 col-sm-6">
                <a href="/Product/CategoryDetails/Men" target="_blank" class="layer-text-img">
                    <img src="~/Content/Images/IMG_8173@2x.png" alt="Snow" style="width:100%;">
                    <div class="centered"><span>Men</span></div>
                </a>
            </div>

            <div class="col-md-6 col-sm-6">
                <a href="/Product/CategoryDetails/Men" target="_blank" class="layer-text-img">
                    <img src="~/Content/Images/IMG_8719@2x.png" alt="Snow" style="width:100%;">
                  
                    <div class="centered"><span>Women</span></div>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid no-padding " style="position:relative;">
    @*<div class="background-tyre"></div>*@
    @*<div class="cliping-path-featured-section">

    </div>*@
    <div class="clearfix featured-product-section pb80">

        <div class="container no-padding  text-center mt60">
            <h3 class="main-page-heading black-color-border">Featured Products</h3>
        </div>

        <div class="container featured-product-list no-padding mt40">
            <div class="col-md-3 col-sm-12 each-featured-product">
                <a href="Product/Details/Men" target="_blank">


                    <img class="img-responsive mt10"
                         src="/Content/Images/lea-ochel-nsRBbE6-YLs-unsplash (1)-1.png"
                         onmouseover="this.src='/Content/Images/New-Style-MEN-S-Leather-Coat-Member-Designed-To-Shoot-Winter-Man-Tops-Clothing-Male-PU.png'"
                         onmouseout="this.src='/Content/Images/lea-ochel-nsRBbE6-YLs-unsplash (1)-1.png'" />
                </a>

                <div class="col-sm-12 col-md-12 no-padding">
                    <p class="featured-product-title">Leather Jacket</p>
                </div>

                <div class="col-sm-12 col-md-12 no-padding">
                    <p class="featured-product-price">$ 0.80</p>
                </div>

                <div class="col-md-12 no-padding mb25">
                    <button class="collection-item-cart"><span><img style="vertical-align:sub;" src="~/Content/Images/Group 2014.png" /></span>Add To Cart</button>
                </div>
            </div>

            <div class="col-md-3 col-sm-12 each-featured-product">
                <a href="Product/Details/Men" target="_blank">


                    <img class="img-responsive mt10"
                         src="/Content/Images/lea-ochel-nsRBbE6-YLs-unsplash (1)-1.png"
                         onmouseover="this.src='/Content/Images/New-Style-MEN-S-Leather-Coat-Member-Designed-To-Shoot-Winter-Man-Tops-Clothing-Male-PU.png'"
                         onmouseout="this.src='/Content/Images/lea-ochel-nsRBbE6-YLs-unsplash (1)-1.png'" />
                </a>

                <div class="col-sm-12 col-md-12 no-padding">
                    <p class="featured-product-title">Leather Jacket</p>
                </div>

                <div class="col-sm-12 col-md-12 no-padding">
                    <p class="featured-product-price">$ 0.80</p>
                </div>

                <div class="col-md-12 no-padding mb25">
                    <button class="collection-item-cart"><span><img style="vertical-align:sub;" src="~/Content/Images/Group 2014.png" /></span>Add To Cart</button>
                </div>
            </div>


            <div class="col-md-3 col-sm-12 each-featured-product">
                <a href="Product/Details/Men" target="_blank">


                    <img class="img-responsive mt10"
                         src="/Content/Images/lea-ochel-nsRBbE6-YLs-unsplash (1)-1.png"
                         onmouseover="this.src='/Content/Images/New-Style-MEN-S-Leather-Coat-Member-Designed-To-Shoot-Winter-Man-Tops-Clothing-Male-PU.png'"
                         onmouseout="this.src='/Content/Images/lea-ochel-nsRBbE6-YLs-unsplash (1)-1.png'" />
                </a>

                <div class="col-sm-12 col-md-12 no-padding">
                    <p class="featured-product-title">Leather Jacket</p>
                </div>

                <div class="col-sm-12 col-md-12 no-padding">
                    <p class="featured-product-price">$ 0.80</p>
                </div>

                <div class="col-md-12 no-padding mb25">
                    <button class="collection-item-cart"><span><img style="vertical-align:sub;" src="~/Content/Images/Group 2014.png" /></span>Add To Cart</button>
                </div>
            </div>


            <div class="col-md-3 col-sm-12 each-featured-product">
                <a href="Product/Details/Men" target="_blank">


                    <img class="img-responsive mt10"
                         src="/Content/Images/lea-ochel-nsRBbE6-YLs-unsplash (1)-1.png"
                         onmouseover="this.src='/Content/Images/New-Style-MEN-S-Leather-Coat-Member-Designed-To-Shoot-Winter-Man-Tops-Clothing-Male-PU.png'"
                         onmouseout="this.src='/Content/Images/lea-ochel-nsRBbE6-YLs-unsplash (1)-1.png'" />
                </a>

                <div class="col-sm-12 col-md-12 no-padding">
                    <p class="featured-product-title">Leather Jacket</p>
                </div>

                <div class="col-sm-12 col-md-12 no-padding">
                    <p class="featured-product-price">$ 0.80</p>
                </div>

                <div class="col-md-12 no-padding mb25">
                    <button class="collection-item-cart"><span><img style="vertical-align:sub;" src="~/Content/Images/Group 2014.png" /></span>Add To Cart</button>
                </div>
            </div>

        </div>
    </div>
</div>
