<div class="clearfix comment-section  mt60">
    <div class="container no-padding  text-center">
        <h3 class="main-page-heading">@ViewBag.headingText</h3>
    </div>

    <div class="mt80 clearfix container no-padding">
        <div class="col-md-3 col-sm-12  each-collection">
            <a target="_blank" href="/Product/Details/Men" class="collection-block">
                <img class="img-responsive"
                     src="/Content/Images/New-Style-MEN-S-Leather-Coat-Member-Designed-To-Shoot-Winter-Man-Tops-Clothing-Male-PU@2x.png"
                     onmouseover="this.src='/Content/Images/lea-ochel-nsRBbE6-YLs-unsplash (1)-1@2x.png'"
                     onmouseout="this.src='/Content/Images/New-Style-MEN-S-Leather-Coat-Member-Designed-To-Shoot-Winter-Man-Tops-Clothing-Male-PU@2x.png'"
                     border="0" alt="" />
            </a>

            <div class="col-md-12">
                <p class="collection-item-title">Leather Jacket</p>
            </div>

            <div class="col-md-12">
                <p class="collection-item-price">$ 99.99</p>
            </div>

            <div class="col-md-12 no-padding">
                <button class="collection-item-cart"><span><img style="vertical-align:sub;" src="~/Content/Images/Group 2014.png" /></span>Add To Cart</button>
            </div>
        </div>


        <div class="col-md-3 col-sm-12  each-collection">
            <a target="_blank" href="/Product/Details/Men" class="collection-block">
                <img class="img-responsive"
                     src="~/Content/Images/rBVaVFw-_aWAYsxxAAHphEX7Vfw867-1@2x.png"
                     onmouseover="this.src='/Content/Images/lea-ochel-nsRBbE6-YLs-unsplash (1)-1@2x.png'"
                     onmouseout="this.src='/Content/Images/rBVaVFw-_aWAYsxxAAHphEX7Vfw867-1@2x.png'"
                     border="0" alt="" />
            </a>

            <div class="col-md-12">
                <p class="collection-item-title">Leather Jacket</p>
            </div>

            <div class="col-md-12">
                <p class="collection-item-price">$ 99.99</p>
            </div>

            <div class="col-md-12 no-padding">
                <button class="collection-item-cart"><span><img style="vertical-align:sub;" src="~/Content/Images/Group 2014.png" /></span>Add To Cart</button>
            </div>
        </div>


        <div class="col-md-3 col-sm-12  each-collection">
            <a target="_blank" href="/Product/Details/Men" class="collection-block">
                <img class="img-responsive"
                     src="~/Content/Images/1fe6c82a3080f77861561ea362a0887a-2@2x.png"
                     onmouseover="this.src='/Content/Images/lea-ochel-nsRBbE6-YLs-unsplash (1)-1@2x.png'"
                     onmouseout="this.src='/Content/Images/1fe6c82a3080f77861561ea362a0887a-2@2x.png'"
                     border="0" alt="" />
            </a>

            <div class="col-md-12">
                <p class="collection-item-title">Leather Jacket</p>
            </div>

            <div class="col-md-12">
                <p class="collection-item-price">$ 99.99</p>
            </div>

            <div class="col-md-12 no-padding">
                <button class="collection-item-cart"><span><img style="vertical-align:sub;" src="~/Content/Images/Group 2014.png" /></span>Add To Cart</button>
            </div>
        </div>

        <div class="col-md-3 col-sm-12  each-collection">
            <a target="_blank" href="/Product/Details/Men" class="collection-block">
                <img class="img-responsive"
                     src="/Content/Images/lea-ochel-nsRBbE6-YLs-unsplash (1)-1@2x.png"
                     onmouseover="this.src='/Content/Images/lea-ochel-nsRBbE6-YLs-unsplash (1)-1@2x.png'"
                     onmouseout="this.src='/Content/Images/lea-ochel-nsRBbE6-YLs-unsplash (1)-1@2x.png'"
                     border="0" alt="" />
            </a>

            <div class="col-md-12">
                <p class="collection-item-title">Leather Jacket</p>
            </div>

            <div class="col-md-12">
                <p class="collection-item-price">$ 99.99</p>
            </div>

            <div class="col-md-12 no-padding">
                <button class="collection-item-cart"><span><img style="vertical-align:sub;" src="~/Content/Images/Group 2014.png" /></span>Add To Cart</button>
            </div>
        </div>
    </div>
</div>