@{
    ViewBag.Title = "Home Page";
}

@Html.Partial("~/Views/Home/Slider.cshtml")

<div class="mb130 clearfix">

</div>
@Html.Partial("~/Views/Home/InstagramFeed.cshtml")
@Html.Partial("~/Views/Home/CommentSection.cshtml")