
@{
    ViewBag.Title = "Privacy";
}


@{
    string headingTextVariable = "Privacy Policy";
}

@*@Html.Partial("~/Views/Shared/Breadcrumbs.cshtml")*@
@Html.Partial("~/Views/Shared/Jumbotron.cshtml", new ViewDataDictionary { { "headingText", headingTextVariable } })


<div class="page-content-start clearfix">
    <div class="page-content">
        <h2 class="main-heading-content mt42">Welcome to Spekter</h2>
        <p class="main-paragraph-content mt15">
            Duis pretium gravida enim, vel maximus ligula fermentum a.
            Sed rhoncus eget ex id egestas. Nam nec nisl placerat, tempus erat a, condimentum metus.
            Curabitur nulla nisi, lacinia at lobortis at, suscipit at nibh.
            Proin quis lectus finibus, mollis purus vitae, rutrum neque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
            Etiam sed cursus metus, vel viverra mi. Mauris aliquet egestas eros ac placerat.
            Proin condimentum ligula at diam euismod fringilla et quis lacus.Duis pretium gravida enim, AvenueNine.com vel maximus ligula fermentum a.
            Sed rhoncus eget ex id egestas. Nam nec nisl placerat, tempus erat a, condimentum metus. Curabitur nulla nisi, lacinia at lobortis at, suscipit at nibh. Proin quis lectus finibus, mollis purus vitae, rutrum neque.
            Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam sed cursus metus, vel viverra mi. Mauris aliquet egestas eros ac placerat.
            Proin condimentum ligula at diam euismod fringilla et quis lacus.
        </p>

        <h3 class="sub-heading-content mt20">Quam ipsum</h3>
        <p class="main-paragraph-content mt15">
            Duis pretium gravida enim, vel maximus ligula fermentum a. Sed rhoncus eget ex id egestas. Nam nec nisl placerat, tempus erat a, condimentum metus. Curabitur nulla nisi, lacinia at lobortis at, suscipit at nibh. Proin quis lectus finibus, mollis purus vitae, rutrum neque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
        </p>

        <h3 class="sub-heading-content mt20">Quam ipsum</h3>
        <p class="main-paragraph-content mt15">
            Duis pretium gravida enim, vel maximus ligula fermentum a. Sed rhoncus eget ex id egestas. Nam nec nisl placerat, tempus erat a, condimentum metus. Curabitur nulla nisi, lacinia at lobortis at, suscipit at nibh. Proin quis lectus finibus, mollis purus vitae, rutrum neque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
        </p>

        <h3 class="sub-heading-content mt20">Quam ipsum</h3>
        <p class="main-paragraph-content mt15">
            Duis pretium gravida enim, vel maximus ligula fermentum a. Sed rhoncus eget ex id egestas. Nam nec nisl placerat, tempus erat a, condimentum metus. Curabitur nulla nisi, lacinia at lobortis at, suscipit at nibh. Proin quis lectus finibus, mollis purus vitae, rutrum neque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
        </p>

        <h3 class="sub-heading-content mt20">HOW WE WILL USE YOUR INFORMATION</h3>
        <p class="main-paragraph-content mt15">
            We may use Information held about you in the following ways:
            <ul class="main-paragraph-content content-listing">
                <li> Duis pretium gravida enim, vel maximus ligula fermentum a. Sed rhoncus eget ex id egestas. </li>
                <li> Nam nec nisl placerat, tempus erat a, condimentum metus. Curabitur nulla nisi, lacinia at lobortis at, suscipit at nibh.</li>
                <li> Proin quis lectus finibus, mollis purus vitae, rutrum neque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.Duis pretium gravida enim, vel maximus ligula fermentum a. Sed rhoncus eget ex id egestas. Nam nec nisl placerat, tempus erat. </li>
                <li> Duis pretium gravida enim, vel maximus ligula fermentum a. Sed rhoncus eget ex id egestas. </li>
                <li> Nam nec nisl placerat, tempus erat a, condimentum metus. Curabitur nulla nisi, lacinia at lobortis at, suscipit at nibh.</li>
                <li> Proin quis lectus finibus, mollis purus vitae, rutrum neque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.Duis pretium gravida enim, vel maximus ligula fermentum a. Sed rhoncus eget ex id egestas. Nam nec nisl placerat, tempus erat. </li>
            </ul>
        </p>
    </div>
</div>