<link rel="stylesheet" href="~/Content/account.css" />
@{
    ViewBag.Title = "Account";
}

<div class="container no-padding mt80 mb80">
    @Html.Partial("~/Views/Shared/Breadcrumbs.cshtml", new ViewDataDictionary { { "breadcrumbData", Model } })
</div>


<div class="container no-padding">
    <h1 class="user-account-main-heading">User Account</h1>
</div>

<div class="container no-padding mt80 text-center-details">
    <div class="col-sm-12 col-md-4"><span class="label-account-detail">Name</span><span class="content-account-detail ">johndoe99</span></div>
    <div class="col-sm-12 col-md-4"><span class="label-account-detail">Email</span><span class="content-account-detail ">johndoe99@gmail.com</span></div>
    <div class="col-sm-12 col-md-4"><span class="label-account-detail">Password</span><span style="vertical-align:middle" class="content-account-detail pointer ">*****</span></div>
</div>

<div class="container no-padding mt120">
    <h1 class="user-account-main-heading">Order Tracking</h1>
</div>

<div class="container no-padding mt55 order-detail-section">


    <div class="col-md-12 no-padding mb450">
        <div class="panel wispan-nav-tabs panel-default">
            <div class="panel-heading">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab1default" data-toggle="tab">Active Order</a></li>
                    <li><a href="#tab2default" data-toggle="tab">Archived Order</a></li>

                </ul>
            </div>
            <div class="panel-body">
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="tab1default">
                        <div class="table-responsive">
                            <div class="table table-bordred">
                                <div class="clearfix table-header">
                                    <div class="each-head-row">
                                        <span class="table-header-center">Image</span>
                                        <span class="table-header-center">Product Name</span>
                                        <span class="table-header-center">Size</span>
                                        <span class="table-header-center">Color</span>
                                        <span class="table-header-center">Quantity</span>
                                        <span class="table-header-center">Status</span>
                                        <span class="table-header-center">Price</span>
                                        <span class="table-header-center">Remove</span>
                                    </div>

                                </div>

                                <div class="clearfix table-body">

                                    <div data-product-id="1" class="each-product-row">


                                        <span class="table-body-center">
                                            <img class="product-image" src="~/Content/Images/jacket-leather-2.png" />
                                        </span>
                                        <span class="table-body-center">Leaspaner Jacket</span>
                                        <span class="table-body-center">XL</span>
                                        <span class="table-body-center">Black</span>
                                        <span class="table-body-center"><span id="decrease-quantity" class="table-quantity-btn pointer">-</span><span class="margin-button-quantity">1</span><span id="increase-quantity" class=" pointer table-quantity-btn">+</span></span>
                                        <span class="table-body-center">Pending</span>
                                        <span class="table-body-center">400</span>
                                        <span class="table-body-center"><img class="pointer delete-product" src="~/Content/Images/trash.svg" /></span>
                                    </div>

                                    <div data-product-id="2" class="each-product-row">


                                        <span class="table-body-center">
                                            <img class="product-image" src="~/Content/Images/jacket-leather-4.png" />
                                        </span>
                                        <span class="table-body-center">Leaspaner Jacket</span>
                                        <span class="table-body-center">XL</span>
                                        <span class="table-body-center">Black</span>
                                        <span class="table-body-center"><span id="decrease-quantity" class="table-quantity-btn pointer">-</span><span class="margin-button-quantity">1</span><span id="increase-quantity" class=" pointer table-quantity-btn">+</span></span>
                                        <span class="table-body-center">Pending</span>
                                        <span class="table-body-center">400</span>
                                        <span class="table-body-center"><img class="pointer delete-product" src="~/Content/Images/trash.svg" /></span>
                                    </div>


                                    <div data-product-id="3" class="each-product-row">


                                        <span class="table-body-center">
                                            <img class="product-image" src="~/Content/Images/jacket-leather-5.png" />
                                        </span>
                                        <span class="table-body-center">Leaspaner Jacket</span>
                                        <span class="table-body-center">XL</span>
                                        <span class="table-body-center">Black</span>
                                        <span class="table-body-center"><span id="decrease-quantity" class="table-quantity-btn pointer">-</span><span class="margin-button-quantity">1</span><span id="increase-quantity" class=" pointer table-quantity-btn">+</span></span>
                                        <span class="table-body-center">Pending</span>
                                        <span class="table-body-center">400</span>
                                        <span class="table-body-center"><img class="pointer delete-product" src="~/Content/Images/trash.svg" /></span>
                                    </div>







                                </div>

                            </div>

                            <div class="clearfix"></div>


                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab2default">
                        <div class="table-responsive">
                            <div class="table table-bordred">
                                <div class="clearfix table-header">
                                    <div class="each-head-row">
                                        <span class="table-header-center">Image</span>
                                        <span class="table-header-center">Product Name</span>
                                        <span class="table-header-center">Size</span>
                                        <span class="table-header-center">Color</span>
                                        <span class="table-header-center">Quantity</span>
                                        <span class="table-header-center">Status</span>
                                        <span class="table-header-center">Price</span>
                                        <span class="table-header-center">Remove</span>
                                    </div>

                                </div>

                                <div class="clearfix table-body">

                                    <div data-product-id="1" class="each-product-row">


                                        <span class="table-body-center">
                                            <img class="product-image" src="~/Content/Images/jacket-leather-2.png" />
                                        </span>
                                        <span class="table-body-center">Leaspaner Jacket</span>
                                        <span class="table-body-center">XL</span>
                                        <span class="table-body-center">Black</span>
                                        <span class="table-body-center"><span id="decrease-quantity" class="table-quantity-btn pointer">-</span><span class="margin-button-quantity">1</span><span id="increase-quantity" class=" pointer table-quantity-btn">+</span></span>
                                        <span class="table-body-center">Pending</span>
                                        <span class="table-body-center">400</span>
                                        <span class="table-body-center"><img class="pointer delete-product" src="~/Content/Images/trash.svg" /></span>
                                    </div>

                                    <div data-product-id="2" class="each-product-row">


                                        <span class="table-body-center">
                                            <img class="product-image" src="~/Content/Images/jacket-leather-4.png" />
                                        </span>
                                        <span class="table-body-center">Leaspaner Jacket</span>
                                        <span class="table-body-center">XL</span>
                                        <span class="table-body-center">Black</span>
                                        <span class="table-body-center"><span id="decrease-quantity" class="table-quantity-btn pointer">-</span><span class="margin-button-quantity">1</span><span id="increase-quantity" class=" pointer table-quantity-btn">+</span></span>
                                        <span class="table-body-center">Pending</span>
                                        <span class="table-body-center">400</span>
                                        <span class="table-body-center"><img class="pointer delete-product" src="~/Content/Images/trash.svg" /></span>
                                    </div>


                                    <div data-product-id="3" class="each-product-row">


                                        <span class="table-body-center">
                                            <img class="product-image" src="~/Content/Images/jacket-leather-5.png" />
                                        </span>
                                        <span class="table-body-center">Leaspaner Jacket</span>
                                        <span class="table-body-center">XL</span>
                                        <span class="table-body-center">Black</span>
                                        <span class="table-body-center"><span id="decrease-quantity" class="table-quantity-btn pointer">-</span><span class="margin-button-quantity">1</span><span id="increase-quantity" class=" pointer table-quantity-btn">+</span></span>
                                        <span class="table-body-center">Pending</span>
                                        <span class="table-body-center">400</span>
                                        <span class="table-body-center"><img class="pointer delete-product" src="~/Content/Images/trash.svg" /></span>
                                    </div>

                                </div>

                            </div>

                            <div class="clearfix"></div>


                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>