<link rel="stylesheet" href="~/Content/account.css" />
@{
    ViewBag.Title = "Account";
}

    <div class="container no-padding mt80 mb80">
        @Html.Partial("~/Views/Shared/Breadcrumbs.cshtml", new ViewDataDictionary { { "breadcrumbData", Model } })
    </div>


<div class="container no-padding">
    <h1 class="user-account-main-heading">User Account</h1>
</div>