@{
    ViewBag.Title = "Order Details";
}

<link rel="stylesheet" href="~/Content/OrderDetail.css" />

@{

    var modelVariable = Model;
}
<div class="mt80 clearfix">
    @Html.Partial("~/Views/Shared/Breadcrumbs.cshtml", new ViewDataDictionary { { "breadcrumbData", modelVariable } })

</div>


<div class="container-fluid no-padding">
    <div class="container no-padding mt40">
        <h3 class="main-page-heading">Order Details</h3>
    </div>

    <div class="container no-padding mt40">
        <div class="table-responsive">
            <div class="table table-bordred">
                <div class="clearfix table-header">
                    <div class="each-head-row">
                        <span class="table-header-center">Image</span>
                        <span class="table-header-center">Product Name</span>
                        <span class="table-header-center">Size</span>
                        <span class="table-header-center">Color</span>
                        <span class="table-header-center">Quantity</span>
                        <span class="table-header-center">Status</span>
                        <span class="table-header-center">Price</span>
                    </div>

                </div>

                <div class="clearfix table-body">

                    <div data-product-id="1" class="each-product-row">


                        <span class="table-body-center">
                            <a href="/Product/Details/Men" target="_blank"><img class="product-image" src="~/Content/Images/jacket-leather-2.png" /></a>
                        </span>
                        <span class="table-body-center">Leaspaner Jacket</span>
                        <span class="table-body-center">XL</span>
                        <span class="table-body-center">Black</span>
                        <span class="table-body-center"><span class="margin-button-quantity">1</span></span>
                        <span class="table-body-center">Pending</span>
                        <span class="table-body-center">400</span>

                    </div>

                    <div data-product-id="2" class="each-product-row">


                        <span class="table-body-center">
                            <a href="/Product/Details/Men" target="_blank"><img class="product-image" src="~/Content/Images/jacket-leather-4.png" /></a>
                        </span>
                        <span class="table-body-center">Leaspaner Jacket</span>
                        <span class="table-body-center">XL</span>
                        <span class="table-body-center">Black</span>
                        <span class="table-body-center"><span class="margin-button-quantity">1</span></span>
                        <span class="table-body-center">Pending</span>
                        <span class="table-body-center">400</span>

                    </div>

                </div>

                <div class="clearfix"></div>


            </div>
        </div>



        <div class="mt40 container no-padding"></div>
    </div>
</div>

<script>

    function redirectToCheckout() {
        location.href = "/Checkout/Index";
    }
</script>