//colors
$color_mine_shaft_approx: rgba(31, 31, 31, 1);
$color_sun_approx: rgba(250, 174, 17, 1);
$black: rgba(0, 0, 0, 1);
$color_alto_approx: rgba(221, 221, 221, 1);
$white: rgba(255, 255, 255, 1);
$black_16: rgba(0, 0, 0, 0.16);
$color_boulder_approx: rgba(119, 119, 119, 1);
$color_dorado_approx: rgba(85, 85, 85, 1);
$color_wild_sand_approx: rgba(245, 245, 245, 1);

.user-account-main-heading {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    letter-spacing: 0;
    color: $color_mine_shaft_approx;
    text-transform: uppercase;

    &:after {
        content: "";
        display: block;
        width: 240px;
        max-width: 240px;
        border-bottom: 1px solid $color_sun_approx;
        margin: 15px auto 0;
    }
}

.label-account-detail {
    font-size: 22px;
    font-weight: 600;
    letter-spacing: -0.22px;
    color: $black;
    margin-right: 20px;
}

.content-account-detail {
    font-weight: 400;
    font-size: 22px;
    letter-spacing: -0.22px;
    color: $black;
    opacity: 1;
}

.product-image {
    width: 57px;
    height: 57px;
}

.table-header-center {
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0;
    color: $black;
    opacity: 1;
    border-bottom: 0 solid $color_alto_approx;
    padding: 8px;
    line-height: 1.42857143;
    display: table-cell;
    vertical-align: inherit;
}

.table-body-center {
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0;
    color: $black;
    opacity: 1;
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: middle;
    border-top: 0 solid $color_alto_approx;
    //Instead of the line below you could use @include box-sizing($bs)
    box-sizing: border-box;
    display: table-cell;

    &:nth-child(1) {
        width: 122px;
    }

    &:nth-child(2) {
        width: 239px;
    }

    &:nth-child(3) {
        width: 91px;
    }

    &:nth-child(4) {
        width: 110px;
    }

    &:nth-child(5) {
        width: 158px;
    }

    &:nth-child(6) {
        width: 127px;
    }

    &:nth-child(7) {
        width: 111px;
    }

    &:nth-child(8) {
        width: 150px;
    }
}

.each-product-row {
    background: $white 0 0 no-repeat padding-box;
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: 0 3px 6px $black_16;
    opacity: 1;
    vertical-align: inherit;
    border-color: inherit;
    margin-top: 25px;
}

.table {
    > thead > tr > th {
        border-bottom: 0 solid $color_alto_approx;
    }

    > tbody > tr > td {
        border-top: 0 solid $color_alto_approx;
        vertical-align: middle;
    }
}

.table-header {
    display: inline-table;
    vertical-align: middle;
    width: 100%;
    border-color: inherit;
    //Instead of the line below you could use @include box-sizing($bs)
    box-sizing: border-box;
}

.table-body {
    display: inline-table;
    border-color: inherit;
    //Instead of the line below you could use @include box-sizing($bs)
    box-sizing: border-box;
}

.each-head-row {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.panel.with-nav-tabs {
    .panel-heading {
        padding: 5px 5px 0 5px;
    }

    .nav-tabs {
        border-bottom: none;
    }
}

.with-nav-tabs.panel-default .nav-tabs > li {
    > a {
        color: $color_boulder_approx;

        &:hover {
            color: $color_boulder_approx;
            background-color: $color_alto_approx;
            border-color: transparent;
        }

        &:focus {
            color: $color_boulder_approx;
            background-color: $color_alto_approx;
            border-color: transparent;
        }
    }

    &.active > a {
        color: $color_dorado_approx;
        background-color: $white;
        border-color: $color_alto_approx;
        border-bottom-color: transparent;

        &:hover {
            color: $color_dorado_approx;
            background-color: $white;
            border-color: $color_alto_approx;
            border-bottom-color: transparent;
        }

        &:focus {
            color: $color_dorado_approx;
            background-color: $white;
            border-color: $color_alto_approx;
            border-bottom-color: transparent;
        }
    }

    &.dropdown .dropdown-menu {
        background-color: $color_wild_sand_approx;
        border-color: $color_alto_approx;

        > li > a {
            color: $color_boulder_approx;

            &:hover {
                background-color: $color_alto_approx;
            }

            &:focus {
                background-color: $color_alto_approx;
            }
        }
    }
}
