.background-coloring-footer {
  background: #FAAE11 0% 0% no-repeat padding-box;
  opacity: 1; }

.footer-styling {
  height: 200px; }

.footer-content {
  width: 1200px;
  padding-top: 32px; }

.footer-logo {
  width: 184px;
  height: auto; }

.each-footer-link {
  text-align: left;
  font-weight: 600;
  font-size: 020px;
  letter-spacing: 0px;
  color: #1F1F1F;
  text-transform: uppercase;
  opacity: 1;
  padding-left: 0px;
  list-style: none; }

.each-footer-link a {
  color: #1F1F1F; }

.each-footer-link li {
  margin-right: 60px;
  display: inline-block;
  margin-bottom: 15px; }

.each-footer-sm {
  display: inline-block;
  padding: 0px 10px 0px 0px; }

.each-footer-link-hr {
  border-top: 1px solid #1F1F1F;
  opacity: 1;
  margin-top: 60px; }

.text-righ-icon {
  text-align: right; }

.footer-center-content {
  max-width: 629px;
  margin-right: 25px !important; }

.sm-icon-section {
  width: 248px; }

.copyright-path {
  margin-top: 70px; }

.icon-positioning {
  width: 184px;
  margin-right: 113px; }

.contact-us-footer {
  background: #faae11 0% 0% no-repeat padding-box;
  opacity: 1;
  height: 100%; }

.footer-extended-newsletter-heading {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 0px;
  color: #faae11;
  opacity: 1;
  text-transform: uppercase; }

.footer-extended-newsletter-heading:after {
  content: '';
  display: block;
  text-align: center;
  width: 240px;
  margin-top: 20px;
  border-bottom: 0.5px solid #faae11;
  margin: 20px auto 0 auto; }

.footer-extended-heading {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 0px;
  color: black;
  opacity: 1;
  text-transform: uppercase; }

.footer-extended-heading:after {
  content: '';
  display: block;
  text-align: center;
  width: 240px;
  margin-top: 20px;
  border-bottom: 0.5px solid #1f1f1f;
  margin: 20px auto 0 auto; }

.contact-us-field {
  color: #1F1F1F;
  border: 0px solid transparent;
  width: 100%;
  height: 68px;
  background: rgba(255, 255, 255, 0.18) 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.4);
  border-radius: 7px;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.45px;
  color: #1f1f1f;
  text-transform: uppercase; }

.contact-us-field::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #1F1F1F;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.45px;
  text-transform: uppercase; }

.contact-us-field::-moz-placeholder {
  /* Firefox 19+ */
  color: #1F1F1F;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.45px;
  text-transform: uppercase; }

.contact-us-field:-ms-input-placeholder {
  /* IE 10+ */
  color: #1F1F1F;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.45px;
  text-transform: uppercase; }

.contact-us-field:-moz-placeholder {
  /* Firefox 18- */
  color: #1F1F1F;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.45px;
  text-transform: uppercase; }

.contact-us-form .submit-button-contact-us {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.4px;
  color: white;
  background: #1f1f1f 0% 0% no-repeat padding-box;
  opacity: 1;
  padding: 20px 76px;
  text-transform: uppercase;
  border: 0px solid transparent; }

.submit-button-newsletter {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.4px;
  color: white;
  background: #faae11 0% 0% no-repeat padding-box;
  opacity: 1;
  padding: 20px 76px;
  text-transform: uppercase;
  border: 0px solid transparent; }

.newsletter-subs-paragraph {
  font-weight: 300;
  font-size: 15px;
  letter-spacing: 0.38px;
  color: white;
  opacity: 1; }

.newsletter-field {
  height: 68px;
  background: #2e2e2e 0% 0% no-repeat padding-box;
  border-radius: 7px;
  padding-left: 15px;
  border: 0px solid transparent;
  padding-right: 15px;
  width: 100%;
  letter-spacing: 0.33px;
  color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
  text-align: left;
  font-weight: 300;
  font-size: 13px; }

.newsletter-field::-webkit-input-placeholder {
  letter-spacing: 0.33px;
  color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
  text-align: left;
  font-weight: 300;
  font-size: 13px; }

.newsletter-field::-moz-placeholder {
  letter-spacing: 0.33px;
  color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
  text-align: left;
  font-weight: 300;
  font-size: 13px; }

@media (max-width: 992px) {
  .footer-styling {
    height: 100%; }
  .text-righ-icon {
    text-align: left; }
  .each-footer-link-hr {
    display: none; }
  .copyright-path {
    margin-top: 0px; }
  .footer-center-content {
    max-width: 100%;
    margin-right: 0px !important; }
  .each-footer-link li {
    margin-right: 0px;
    display: block;
    margin-bottom: 10px; }
  .footer-content {
    width: 100%;
    padding-top: 32px; } }
