.navigation-bar-bordering {
    background: white 0 0 no-repeat padding-box;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    opacity: 1;
    margin-bottom: 0;
}

.search-icon-css {
    width: 26px;
    height: 28px;
    background: transparent url(/Content/Images/icon-search.svg) 0 0 no-repeat padding-box;
    opacity: 1;
    display: inline-block;
}

.icon-cart-css {
    width: 26px;
    height: 28px;
    background: transparent url(/Content/Images/icon-cart.svg) 0 0 no-repeat padding-box;
    opacity: 1;
    display: inline-block;
}

.icon-account-css {
    width: 30px;
    height: 29px;
    background: transparent url(/Content/Images/icon-account.svg) 0 0 no-repeat padding-box;
    opacity: 1;
    display: inline-block;
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-right: 15px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: #faae11;
    background-image: none;
    border: 1px solid #f4bb3d;
    border-radius: 4px;
}

.navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-nav > li > a {
    text-align: left;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 0px;
    color: #1f1f1f;
    text-transform: uppercase;
    opacity: 1;
}

.navbar-nav > li > a.active {
    color: #faae11;
}

@media (min-width: 768px) {
    .navbar-nav > li > a {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .navbar-nav > li > a:hover, .navbar-nav > li > a:active {
        background-color: transparent;
        color: #faae11;
    }

    .navbar-nav > li > a.real-links {
        margin-right: 40px;
        padding-top: 22px;
        padding-bottom: 22px;
    }

    .navbar-nav > li > a.utility-links {
        margin-right: 30px;
        padding-top: 22px;
        padding-bottom: 22px;
    }

    .navbar-nav > li > a.utility-links:nth-last-child(-n+2) {
        margin-right: 0px;
    }
}

@media (min-width: 768px) {
    .navbar > .container .navbar-brand {
        padding: 22px 15px;
    }
}

@media (max-width: 992px) {
    .navbar-nav {
        margin: 7.5px 0px;
    }
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    left: auto;
    right: 0;
    top: 70px;
    bottom: auto;
    background: white 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px rgba(250, 174, 17, 0.14);
    border: 1px solid rgba(197, 197, 197, 0.16);
    width: 295px;
}

#myModalSignup .modal-title {
    text-align: left;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 0px;
    color: #1F1F1F;
    text-transform: uppercase;
    opacity: 1;
}

#myModalSignup .modal-footer {
    text-align: left;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: -0.16px;
}


#myModalSignup .modal-title {
    text-align: left;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 0px;
    color: #1F1F1F;
    text-transform: uppercase;
    opacity: 1;
}

#myModalSignup .modal-footer {
    text-align: left;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: -0.16px;
}


#myModalSignup .modal-body input {
    border: 0px solid transparent;
    background: #F0F4F8 0% 0% no-repeat padding-box;
    height: 42px;
    width: 100%;
    text-align: left;
    letter-spacing: -0.14px;
    color: #A6BCD0;
    font-size: 14px;
    font-weight: 500;
    padding-left: 30px;
    padding-right: 25px;
}


#myModalSignup .modal-body input.username-field {
    background: #F0F4F8 url('Images/username.png') no-repeat 3% center;
}


#myModalSignup .modal-body input.password-field {
    background: #F0F4F8 url('Images/password.png') no-repeat 3% center;
}


#myModalSignup .modal-body input.email-field {
    background: #F0F4F8 url('Images/email.png') no-repeat 3% center;
}




#myModalSignup .modal-body input::-webkit-input-placeholder {
    color: #A6BCD0;
    font-size: 14px;
    font-weight: 500;
}

#myModalSignup .modal-body input:-ms-input-placeholder {
    color: #A6BCD0;
    font-size: 14px;
    font-weight: 500;
}

#myModalSignup .modal-header {
    padding: 15px 15px 5px 15px;
    border-bottom: 0px solid #e5e5e5;
}


#myModalSignup .modal-header {
    padding: 15px 15px 5px 15px;
    border-bottom: 0px solid #e5e5e5;
}


@media (min-width: 768px) {
    #myModalSignup .modal-dialog {
        width: 300px;
        margin: 30px auto;
    }
}


#myModalSignup .modal-body .submit-button {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.4px;
    color: #FFFFFF;
    opacity: 1;
    background: #FAAE11 0% 0% no-repeat padding-box;
    text-transform: uppercase;
    width: 100%;
    border: 0px solid;
    padding: 9px 0px;
}



#myModalSearch .modal-title {
    text-align: left;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 0px;
    color: #1F1F1F;
    text-transform: uppercase;
    opacity: 1;
}

#myModalSearch .modal-footer {
    text-align: left;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: -0.16px;
}


#myModalSearch .modal-title {
    text-align: left;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 0px;
    color: #1F1F1F;
    text-transform: uppercase;
    opacity: 1;
}

#myModalSearch .modal-footer {
    text-align: left;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: -0.16px;
}


#myModalSearch .modal-body input {
    border: 0px solid transparent;
    background: #F0F4F8 0% 0% no-repeat padding-box;
    height: 42px;
    width: 100%;
    text-align: left;
    letter-spacing: -0.14px;
    color: #A6BCD0;
    font-size: 14px;
    font-weight: 500;
    padding-left: 30px;
    padding-right: 25px;
}


#myModalSearch .modal-body input.username-field {
    background: #F0F4F8 url('Images/username.png') no-repeat 3% center;
}


#myModalSearch .modal-body input.password-field {
    background: #F0F4F8 url('Images/password.png') no-repeat 3% center;
}


#myModalSearch .modal-body input.search-field {
    background: #F0F4F8 url('Images/search.png') no-repeat 3% center;
}


#myModalSearch .modal-body input.email-field {
    background: #F0F4F8 url('Images/email.png') no-repeat 3% center;
}




#myModalSearch .modal-body input::-webkit-input-placeholder {
    color: #A6BCD0;
    font-size: 14px;
    font-weight: 500;
}

#myModalSearch .modal-body input:-ms-input-placeholder {
    color: #A6BCD0;
    font-size: 14px;
    font-weight: 500;
}

#myModalSearch .modal-header {
    padding: 15px 15px 5px 15px;
    border-bottom: 0px solid #e5e5e5;
}


#myModalSearch .modal-header {
    padding: 15px 15px 5px 15px;
    border-bottom: 0px solid #e5e5e5;
}


@media (min-width: 768px) {
    #myModalSearch .modal-dialog {
        width: 300px;
        margin: 30px auto;
    }
}


#myModalSearch .modal-body .submit-button {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.4px;
    color: #FFFFFF;
    opacity: 1;
    background: #FAAE11 0% 0% no-repeat padding-box;
    text-transform: uppercase;
    width: 100%;
    border: 0px solid;
    padding: 9px 0px;
}


.black-color {
    color: #1F1F1F;
}

#myDropdown input {
    border: 0px solid transparent;
    background: #F0F4F8 0% 0% no-repeat padding-box;
    height: 42px;
    width: 100%;
    text-align: left;
    letter-spacing: -0.14px;
    color: #A6BCD0;
    font-size: 14px;
    font-weight: 500;
    padding-left: 30px;
    padding-right: 25px;
}

#myDropdown input.username-field {
    background: #F0F4F8 url("Images/username.png") no-repeat 3% center;
}

#myDropdown input.password-field {
    background: #F0F4F8 url("Images/password.png") no-repeat 3% center;
}

#myDropdown input.email-field {
    background: #F0F4F8 url("Images/email.png") no-repeat 3% center;
}

#myDropdown input::-webkit-input-placeholder {
    color: #A6BCD0;
    font-size: 14px;
    font-weight: 500;
}

#myDropdown input:-ms-input-placeholder {
    color: #A6BCD0;
    font-size: 14px;
    font-weight: 500;
}

#myDropdown .modal-title {
    /* text-align: left; */
    font-weight: 400;
    font-size: 21px;
    letter-spacing: 0px;
    color: #1F1F1F;
    text-transform: uppercase;
    opacity: 1;
    margin-top: 10px;
}

#myDropdown .submit-button {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.4px;
    color: #FFFFFF;
    opacity: 1;
    background: #FAAE11 0% 0% no-repeat padding-box;
    text-transform: uppercase;
    width: 100%;
    border: 0px solid;
    padding: 9px 0px;
}

.cart-header .badge {
    vertical-align: top;
    background-color: #FAAE11;
    color: #1f1f1f;
    padding: 4px 6px;
    font-size: 10px;
}

@media screen and (max-width: 1200px) and (min-width: 992px) {
    .navbar-nav > li > a.real-links {
        margin-right: 30px;
        padding-top: 22px;
        padding-bottom: 22px;
    }
}

@media (min-width: 768px) {
    .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
        margin-left: 0px;
    }
}


#myModalSigninMobile input {
    border: 0px solid transparent;
    background: #F0F4F8 0% 0% no-repeat padding-box;
    height: 42px;
    width: 100%;
    text-align: left;
    letter-spacing: -0.14px;
    color: #A6BCD0;
    font-size: 14px;
    font-weight: 500;
    padding-left: 30px;
    padding-right: 25px;
}

#myModalSigninMobile input.username-field {
    background: #F0F4F8 url("Images/username.png") no-repeat 3% center;
}

#myModalSigninMobile input.password-field {
    background: #F0F4F8 url("Images/password.png") no-repeat 3% center;
}

#myModalSigninMobile input.email-field {
    background: #F0F4F8 url("Images/email.png") no-repeat 3% center;
}

#myModalSigninMobile input::-webkit-input-placeholder {
    color: #A6BCD0;
    font-size: 14px;
    font-weight: 500;
}

#myModalSigninMobile input:-ms-input-placeholder {
    color: #A6BCD0;
    font-size: 14px;
    font-weight: 500;
}

#myModalSigninMobile .modal-title {
    /* text-align: left; */
    font-weight: 400;
    font-size: 21px;
    letter-spacing: 0px;
    color: #1F1F1F;
    text-transform: uppercase;
    opacity: 1;
    margin-top: 10px;
}

#myModalSigninMobile .submit-button {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.4px;
    color: #FFFFFF;
    opacity: 1;
    background: #FAAE11 0% 0% no-repeat padding-box;
    text-transform: uppercase;
    width: 100%;
    border: 0px solid;
    padding: 9px 0px;
}
