.comment-content {
    font-weight: 300;
    font-size: 49px;
    letter-spacing: 1.23px;
    color: #1F1F1F;
    opacity: 1;
}

.comment-person {
    text-align: center;
    font-weight: 500;
    font-size: 39px;
    letter-spacing: 0.97px;
    color: #FAAE11;
    opacity: 1;
}

.each-comment-section.active {
    display: inherit;
}

.each-comment-section {
    display: none;
}

.tab-pill {
    margin-right: 20px;
    display: inline-block;
}

.tab-pill span {
    width: 50px;
    height: 5px;
    cursor:pointer;
    border: 1px solid #1F1F1F;
    background: #1F1F1F 0% 0% no-repeat padding-box;
    display: inline-flex;
    border:0px solid transparent;
}

.tab-pill span:nth-last-child(-n+2) {
    width: 50px;
    height: 5px;
    background: #1F1F1F 0% 0% no-repeat padding-box;
}

.tab-pill.active span {
    width: 50px;
    height: 5px;
    border: 0px solid transparent;
    background: #FAAE11 0% 0% no-repeat padding-box;
}

#tab-lister ul {
    padding-left: 0px;
    text-align: center;
    list-style: none;
    display: block;
    margin: 0 auto;
}

.comment-content span {
    position: relative;
    top: 30px;
}

@media only screen and (max-width: 991px) {

    .each-feed-section {
        padding-left:15px;
        padding-right:15px;
    }


    .sliderHomepage .heading-carousel-styling {
      
        font-size: 24px;
        
    }

    .sliderHomepage .carousel-caption {
        bottom: 0%;
    }

    .sliderHomepage .button-carousel-styling {
     
     
        font-size: 12px;
    
        padding: 7px 43px;
    }

}
