.list-image-icons {
  list-style: none; }

.list-image-icons li {
  margin-bottom: 30px;
  cursor: pointer; }

.list-image-icons li img {
  border: 1px solid rgba(0, 0, 0, 0.11); }

.list-image-icons li.active img {
  border: 1px solid #FAAE11; }

.product-title {
  text-align: left;
  font-size: 32px;
  font-weight: 500;
  letter-spacing: -0.32px;
  color: black; }

.product-price {
  text-align: left;
  font-weight: 700;
  font-size: 38px;
  letter-spacing: -0.38px;
  color: #1f1f1f;
  opacity: 1; }

.product-quantity-select {
  text-align: left;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: -0.18px;
  color: black;
  height: 60px;
  background: #f0f4f8 0% 0% no-repeat padding-box;
  border-radius: 8px;
  padding-left: 15px;
  border: 0px solid transparent;
  outline: transparent; }

.product-quantity-label {
  text-align: left;
  font-weight: 500;
  font-size: 22px;
  letter-spacing: -0.22px;
  color: black; }

.add-to-cart-btn {
  background: #FAAE11 0% 0% no-repeat padding-box;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: -0.18px;
  color: #FFFFFF;
  text-align: center;
  border: 0px solid transparent;
  padding: 17px 55px;
  width: 100%;
  border: 0px solid transparent; }

.exclaiming-icon {
  background: #faae11 0% 0% no-repeat padding-box;
  border: 1px solid #faae11;
  opacity: 1;
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 0.33px;
  color: white;
  border-radius: 50%;
  display: table;
  height: 21px;
  text-align: center;
  width: 21px;
  margin-top: 5px; }

.size-styling {
  background: white 0% 0% no-repeat padding-box;
  border: 1px solid #c5c5c5;
  width: 32px;
  height: 32px;
  display: inline-block;
  margin-right: 20px;
  text-align: center;
  position: relative;
  cursor: pointer;
  line-height: 2; }

.size-styling.active {
  border: 1px solid #faae11; }

.color-styling {
  background: white 0% 0% no-repeat padding-box;
  border: 1px solid #c5c5c5;
  width: 75px;
  height: 32px;
  display: inline-block;
  margin-right: 20px;
  text-align: center;
  position: relative;
  cursor: pointer;
  line-height: 2; }

.color-styling.active {
  border: 1px solid #faae11; }

.whole-sale-price {
  text-align: left;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: -0.18px;
  color: #1f1f1f;
  opacity: 1;
  clear: both; }

.instruction-heading {
  text-align: left;
  font-weight: 500;
  font-size: 22px;
  letter-spacing: -0.22px;
  color: #faae11;
  opacity: 1; }

.product-feature-content {
  text-align: left;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.18px;
  color: black;
  opacity: 1; }

.product-feature-content li {
  margin-bottom: 15px; }

.product-feature-content p {
  text-align: left;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.18px;
  color: black;
  opacity: 1; }

.collection-item-title {
  text-align: left;
  font-weight: 500;
  font-size: 32px;
  letter-spacing: -0.32px;
  color: #000000;
  opacity: 1; }

.collection-item-price {
  text-align: left;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: -0.24px;
  color: #1F1F1F;
  opacity: 1; }

.collection-item-cart {
  background: #FAAE11 0% 0% no-repeat padding-box;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: -0.18px;
  color: #FFFFFF;
  text-align: center;
  border: 0px solid transparent;
  padding: 10px 55px;
  width: 100%; }

.collection-item-cart span {
  margin-right: 5px; }

@media (min-width: 992px) {
  .each-collection.col-md-3 {
    width: calc(25% - 15px); } }

@media (max-width: 768px) {
  .main-product-img {
    transition: transform .4s;
    overflow: hidden;
    padding-left: 15px;
    padding-right: 15px; } }

@media (max-width: 992px) {
  .color-styling {
    background: white 0% 0% no-repeat padding-box;
    border: 1px solid #c5c5c5;
    width: 75px;
    height: 32px;
    display: inline-block;
    margin-right: 20px;
    text-align: center;
    position: relative;
    cursor: pointer;
    line-height: 2; } }

.each-collection {
  background: white 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.16);
  margin-right: 15px; }

.main-product-img {
  transition: transform .4s;
  /* Animation */
  overflow: hidden; }

.main-product-img:hover {
  transform: scale(1.3);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */ }

.image-product-sect {
  overflow: hidden; }

@media screen and (max-width: 768px) {
  .list-image-icons {
    width: 100%;
    display: flex;
    overflow: scroll; }
  .list-image-icons li {
    margin-bottom: 0px;
    cursor: default;
    margin-right: 15px; }
  .list-image-icons li img {
    max-height: 147px; } }
