@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

body {
    font-family: 'Oswald', sans-serif;
}

.jumbotron-first {
    height: 344px;
    background-size: 100% !important;
    border: 1px solid transparent;
    opacity: 1;
}

.jumbotron-first-heading {
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin-top: 130px;
    margin-left: 0px;
}

    .jumbotron-first-heading:after {
        content: '';
        display: block;
        border: 0.5px solid #FFF;
        width: 240px;
        margin-top: 20px;
    }

.mt10 {
    margin-top: 10px;
}

.mt130 {
    margin-top: 130px;
}

@media (min-width: 1200px) {
    .container {
        width: 1200px;
    }
}

.mt80 {
    margin-top: 80px;
}

.mb80 {
    margin-bottom: 80px;
}

.ml60 {
    margin-left: 60px;
}

.no-padding {
    padding-left: 0px;
    padding-right: 0px;
}

.page-content {
    padding-left: 60px;
}

.main-heading-content {
    text-align: left;
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 0px;
    color: #1D1D1D;
    opacity: 1;
}

.main-paragraph-content {
    text-align: left;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: -0.18px;
    color: #1F1F1F;
    opacity: 1;
}

.mt15 {
    margin-top: 15px;
}

.mt42 {
    margin-top: 42px;
}

.sub-heading-content {
    text-align: left;
    font-weight: 500;
    font-size: 22px;
    letter-spacing: -0.18px;
    color: #1F1F1F;
    opacity: 1;
}

.content-listing {
    padding-left: 20px;
}

.mt20 {
    margin-top: 20px;
}

.breadcrumb-link {
    text-align: left;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0px;
    color: #FAAE11;
    opacity: 1;
}

    .breadcrumb-link.active {
        color: #333;
    }

        .breadcrumb-link.active a {
            color: #000;
        }

.listed-class-breadcrumbs {
    list-style: none;
    display: inline-flex;
    flex: auto;
    flex-direction: row;
    padding-left: 0px;
}

.breadcrumb-link.active:after {
    content: "->";
    padding-left: 12px;
    padding-right: 12px;
}

.pointer {
    cursor: pointer;
}

.text-center-details {
    text-align: center;
}

.mt55 {
    margin-top: 55px;
}

.mt120 {
    margin-top: 120px;
}

.mb450 {
    margin-bottom: 450px;
}

.mb35 {
    margin-bottom: 35px;
}


.mt60 {
    margin-top: 60px;
}

.mt40 {
    margin-top: 40px;
}

.mb400 {
    margin-bottom: 400px;
}

.tyre-mark-css {
    transform: matrix(0.9, 0.44, -0.44, 0.9, 0, 0);
    background: transparent url('../Content/Images/tyre_mark_bottom.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.newsletter-styling {
    background: rgba(0, 0, 0, 1) 0% 0% no-repeat padding-box;
    opacity: 1;
}

.mb100 {
    margin-bottom: 100px;
}

.pb100 {
    padding-bottom: 100px;
}

.mb130 {
    margin-bottom: 130px;
}

.pr30 {
    padding-right: 30px;
}

.mt25 {
    margin-top: 25px;
}


.yellow-color {
    color: #FAAE11 !important;
}


.black-color-border {
    border-color: #1f1f1f !important;
}

.mb25 {
    margin-bottom: 25px;
}

.pb80 {
    padding-bottom: 80px;
}

@media(max-width:992px) {
    .jumbotron-first-heading {
        font-size: 24px;
        margin-left: 0px;
        padding-left: 15px;
        margin-top: 20px;
    }

    .page-content {
        padding-left: 15px;
    }

    .jumbotron-first {
        height: auto;
    }
}

.mt90 {
    margin-top: 90px;
}


#myModalSignup .modal-title {
    text-align: left;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 0px;
    color: #1F1F1F;
    text-transform: uppercase;
    opacity: 1;
}

#myModalSignup .modal-footer {
    text-align: left;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: -0.16px;
}

.black-color {
    color: #1F1F1F;
}

#myModalSignup .modal-body input {
    border: 0px solid transparent;
    background: #F0F4F8 0% 0% no-repeat padding-box;
    height: 42px;
    width: 100%;
    text-align: left;
    letter-spacing: -0.14px;
    color: #A6BCD0;
    font-size: 14px;
    font-weight: 500;
    padding-left: 25px;
    padding-right: 25px;
}
    /*

    #myModalSignup .modal-body input.username-field {
        background: url('images/bg2.jpg') repeat-y right;
    }


    #myModalSignup .modal-body input.password-field {
        background: url('images/bg2.jpg') repeat-y right;
    }


    #myModalSignup .modal-body input.email-field {
        background: url('images/bg2.jpg') repeat-y right;
    }

*/


    #myModalSignup .modal-body input::-webkit-input-placeholder {
        color: #A6BCD0;
        font-size: 14px;
        font-weight: 500;
    }

    #myModalSignup .modal-body input:-ms-input-placeholder {
        color: #A6BCD0;
        font-size: 14px;
        font-weight: 500;
    }



@media (min-width: 768px) {
    #myModalSignup .modal-dialog {
        width: 300px;
        margin: 30px auto;
    }
}


#myModalSignup .modal-body .submit-button {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.4px;
    color: #FFFFFF;
    opacity: 1;
    background: #FAAE11 0% 0% no-repeat padding-box;
    text-transform: uppercase;
    width: 100%;
    border: 0px solid;
    padding: 9px 0px;
}


.signin-options {
    text-align: left;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: -0.16px;
}

#myModalSignup .modal-header {
    padding: 15px 15px 5px 15px;
    border-bottom: 0px solid #e5e5e5;
}