<div class="container no-padding">

    @{
        List<Spekter_MVC.Models.Breadcrumbs> breadcrumbElementList = ViewBag.breadcrumbData;
    }

    <ul class="listed-class-breadcrumbs">
        @foreach (var item in breadcrumbElementList)
        {
            Console.WriteLine(item);

            if (String.IsNullOrEmpty(item.URL))
            {
                <li class="breadcrumb-link">
                    @item.Label
                </li>
            }
            else
            {
                <li class="breadcrumb-link active">
                    <a href="@item.URL">@item.Label</a>
                </li>
            }



        }

    </ul>

</div>