<ul>
    <li class="breadcrumb-link active">
        <a href="#">Home</a>
    </li>

    <li class="breadcrumb-link">
        <a href="#">Account</a>
    </li>

    <li class="breadcrumb-link">
        John Doe
    </li>
</ul>