@Html.Partial("~/Views/Shared/Footer-Extended.cshtml")
<footer class="background-coloring-footer footer-styling clearfix ">
    <div class="clearfix footer-content clearfix container no-padding">

        <div class="col-md-2 col-sm-12 no-padding icon-positioning">
            <img class="footer-logo img-responsive" src="~/Content/Images/logo-colored.png" />
        </div>

        <div class=" col-md-7 col-sm-12 no-padding footer-center-content">
            <ul class="each-footer-link">
                <li>
                    <a target="_blank" href="/Home">Home</a>
                </li>

                <li>
                    <a target="_blank" href="#"> Men</a>
                </li>

                <li><a target="_blank" href="#">Ladies</a></li>

                <li><a target="_blank" href="#">Sale</a></li>

                <li><a target="_blank" href="/Privacy">Privacy Policy</a></li>

                <li><a target="_blank" href="/Privacy">Terms</a></li>
            </ul>

            <hr class="each-footer-link-hr" />

        </div>

        <div class="col-sm-12 col-md-2 no-padding sm-icon-section">
            <div class="text-righ-icon clearfix">
                <span class="each-footer-sm"><a href="#"><img class="img-responsive" src="~/Content/Images/facebook-icon-footer.svg" /></a></span>
                <span class="each-footer-sm"><a href="#"><img class="img-responsive" src="~/Content/Images/twitter-icon-footer.svg" /></a></span>
                <span class="each-footer-sm"><a href="#"><img class="img-responsive" src="~/Content/Images/whatsapp-icon-footer.svg" /></a></span>

            </div>

            <div class="clearfix copyright-path">
                <span class="main-paragraph-content">&#169; @DateTime.Now.Year SPEKTER- All Rights Reserved</span>
            </div>
        </div>
    </div>
</footer>