@{
    Layout = null;
}

<div class="container-fluid no-padding">
    <div class="clearfix contact-us-footer" id="contact-us-section">
        <div class="container no-padding mt60 text-center">
            <h3 class="footer-extended-heading">Contact Us</h3>
        </div>

        <div class="clearfix container no-padding mt20 mb60">
            <form action="/home" class="contact-us-form">
                <div class="col-md-5 col-sm-12 no-padding gap-fields mt20">
                    <input class="contact-us-field" placeholder="NAMe" id="name" name="name"/>
                </div>

                <div class="col-md-offset-2 col-md-5 col-sm-12 no-padding gap-fields mt20">
                    <input class="contact-us-field" placeholder="EMAIL" id="email" name="email" />
                </div>

                <div class="col-sm-12 col-md-12 mt40 no-padding">
                    <input class="contact-us-field" placeholder="Message" id="message" name="message" />
                </div>

                <div class="col-sm-12 col-md-12 mt40 no-padding text-center">
                    <button class="submit-button-contact-us" type="submit">Send Message</button>
                </div>
            </form>

        </div>

    </div>

    @*<div class="clearfix container-fluid no-padding">
        <img src="~/Content/Images/tyre_mark_bottom.svg" />
    </div>*@
</div>

<div class="container-fluid no-padding ">

    <div class="clearfix newsletter-styling pb100">

        <div class="container no-padding mt30 text-center">
            <h3 class="footer-extended-newsletter-heading">Newsletter</h3>
            <p class="mt40 newsletter-subs-paragraph">Susbcribe to our mailing list to get the new updates</p>
        </div>

        <div class="clearfix container no-padding mt40">
            <form>
                <div class="col-sm-12 col-md-12 mt40 no-padding text-center">
                    <input class="newsletter-field" placeholder="Email Address" id="email-newsletter" name="email-newsletter" />
                </div>

                <div class="col-sm-12 col-md-12 mt40 no-padding text-center">
                    <button class="submit-button-newsletter" type="submit">Subscribe</button>
                </div>

            </form>
        </div>

        
    </div>

</div>