<div style="background: transparent url('@ViewBag.backgroundImage') 0% 0% no-repeat padding-box;" class="jumbotron-first clearfix">
    <div class="no-padding container">
        <h2 class="jumbotron-first-heading clearfix">@ViewBag.headingText</h2>
    </div>
</div>
